<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <body>
        <h1>Hotel Filton</h1>
        <a href="\seznam-sporocil" class="btn btn-info">Seznam sporocil</a>
        <br>
        <br>
        {% block vsebina %}{% endblock vsebina %}
    </body>
</html>