{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block vsebina %}

{% if logiran %}

    <h3>Hello, {{ user.nickname() }}!</h3>
    <p><a href="{{ logout_url }}">Logout</a></p>
    <img src="http://jamaicaexquisitetours.com/product_images/uploaded_images/wide-hotel.jpg">

    <h3>Enter your data in the input fields and Your message:</h3>

    <form action="/rezultat" method="post">
        <div class="input-group">
            <span class="input-group-addon">Name:</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" name="ime">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon">Surname:</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" name="priimek">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon">E-mail:</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" name="email">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon">Message:</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" name="sporocilo">
        </div>
        <br/>
            <button type="submit" class="btn btn-info">Send</button>
    </form>

{% else %}

        <h3>Hello unknown!</h3>

        <p>Please Login with GMail account: <a href="{{ login_url }}">Login</a></p>

{% endif %}
{% endblock vsebina %}