{% extends "base.html" %}

{% block title %}Individual Message{% endblock title %}

{% block vsebina %}

        <h1>Message details</h1>

        <p><strong>Message ID:</strong> {{ sporocilo.key.id() }}</p>
        <p><strong>Name:</strong> {{ sporocilo.ime }}</p>
        <p><strong>Surname:</strong> {{ sporocilo.priimek }}</p>
        <p><strong>E-mail:</strong> {{ sporocilo.email }}</p>
        <p><strong>Message date:</strong> {{ sporocilo.datum }}</p>
        <p><strong>Message:</strong> {{ sporocilo.sporocilo }}</p>
        <a class="btn btn-info" href="/sporocilo/{{ sporocilo.key.id() }}/uredi">Edit</a>
        <a class="btn btn-danger" href="/sporocilo/{{ sporocilo.key.id() }}/izbrisi">Delete</a>

{% endblock vsebina %}