{% extends "base.html" %}

{% block title %}Registracia uporabnika{% endblock title %}

{% block vsebina %}

    <h2>Registracija novega uporabnika</h2>

    <form action="/registracija" method="post">
        <div class="input-group">
            <span class="input-group-addon">Ime:</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" name="ime">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon">Priimek:</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" name="priimek">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon">E-mail:</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" name="email">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon">Geslo:</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" name="geslo">
        </div>
        <br/>
            <button type="submit" class="btn btn-info">Registriraj se</button>
    </form>

{% endblock vsebina %}